/* Container that wraps the whole page */
.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure it covers the full height of the viewport */
  }
  
  /* Main content area that expands to fill the remaining space */
  .main-content {
    flex: 1; /* This makes the main content area grow to fill available space */
    padding: 2rem;
    background-color: var(--background-color);
  }
  

/* Navbar */
.navbar {
    background-color: var(--navbar-background);
    color: var(--navbar-text-color);
  }
  
/* Footer */
  .footer {
    background-color: var(--footer-background);
    color: var(--footer-text-color);
  }
  