.Home {
    position: relative;
  
    width: 90%;
    max-width: 1200px;
    height: 80vh;
    margin: 0 auto;
    margin-bottom: 1vh;
  
    background-image: url("../../assets/boston.svg");
    background-size: cover;
  }
  
  .home-container {
    position: absolute;
    bottom: -1px;
    left: -1px;
  
    width: 45%;
    height: 50%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: var(--home-bg-color);
  
  }
  
  .home-text {
    font-family: var(--head-font);
    font-size: 7vh;
  }