#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.main {
  position: relative;

  display: flex;
  flex-direction: column;
  animation: fadeIn 2s;
  min-height: 100vh;
}


.navigation  {
  font-family: var(--head-font);

  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 15vh;

  width: 90%;
  max-width: 1200px;

  margin: 0 auto;
}

.nav-link {
  font-size: 2.25rem;
  text-decoration: none;
  color: #000;
  margin-left: 1.5rem;
}